body {
    font-family: Calibri, serif;
    width: 90%;
    max-width: 1064px;
    margin: 2em auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*opceler siden i 4 kolonner og 4 rækker*/
    gap: 20px;
}

.drink {
    grid-column: 1/5;
    grid-row: 1;
    background-color: olive;
    display: flex; /*håndterer automatisk størrelsen og justeringen af flex-items baseret på den tilgængelige plads*/
    justify-content: space-between; /*kontrollerer hvordan children-elementerne er distribueret på den horisontale akse*/
    align-items: center; /*centrer elementerne i boxen*/
    padding: 10px 20px 20px;
    border-radius: 10px; /*runder hjørnerne*/

}

.kaffe img{
    margin-right: 20px; /*justerer margen mellem billedet og resten af content i boxen*/

}

.drink-content {
    flex-grow: 1; /*Tillader at lade indholdet i klassen "vokse". virkede da jeg havde problemer med at rykke teksten ind i midten*/
    text-align: center;

}

.drink-content  h1{
    font-weight: bold;
    color: white;
}

.drink-content p {
    color:#d1d1d1;
}



article {
    grid-column: 3;
    grid-row: 2;

}

.titel-rullemenu {
    border-bottom: 2px solid #b0ac3380;
    padding-bottom: 10px;

}

fieldset {
    border-radius: 10px;
    border: 2px solid lightgray;
}

option {
padding: 5px
}


aside {
    grid-column: 1;
    grid-row: 2;
}

.størrelses-valg {
    border-bottom: 2px solid #b0ac3380;
    padding-bottom: 10px;
}



footer {
    grid-column:  1/5;
    grid-row: 3;
}

